- provide(:title, 'Contact')
%h1 Contact the Developers
%blockquote
  %p
    We're here to help! Feel free to contact any of us if you need assistance.
    %small 3456Software
.row
  /TODO
  .col-lg-4.col-sm-6
    %img.img-circle.img-responsive{src: 'http://placehold.it/140x140'}
    %h3
      Brandon Roberts
      %small Title
    %p= mail_to 'bran3@umbc.edu'
  .col-lg-4.col-sm-6
    %img.img-circle.img-responsive{src: 'http://placehold.it/140x140'}
    %h3
      Griffin Yourick
      %small CTO & Development Lead
    %p= mail_to 'griffy1@umbc.edu'
  .col-lg-4.col-sm-6
    %img.img-circle.img-responsive{src: 'http://placehold.it/140x140'}
    %h3
      Nikolaus Woehlke
      %small Title
    %p= mail_to 'woehlke1@umbc.edu'
  .col-lg-4.col-lg-offset-2.col-sm-6
    %img.img-circle.img-responsive{src: 'http://placehold.it/140x140'}
    %h3
      Theodore Walker
      %small Title
    %p= mail_to 'thewalk1@umbc.edu'
  .col-lg-4.col-sm-6
    %img.img-circle.img-responsive{src: 'http://placehold.it/140x140'}
    %h3
      TJ Zuby
      %small Title
    %p= mail_to 'tzuby1@umbc.edu'
  //TODO
