- provide(:title, 'Contact')
%h1 Contact the Developers
%p
  Please feel free to contact any of the developers from 3456Software:
/TODO
%ul
  %li
    = mail_to 'bran3@umbc.edu' do
      %strong Brandon Roberts
      [role]
      (ex. CTO and Development Lead)
  %li
    = mail_to 'griffy1@umbc.edu' do
      %strong Griffin Yourick
      [role]
      (ex. CTO and Development Lead)
  %li
    = mail_to 'woehlke1@umbc.edu' do
      %strong Nikolaus Woehlke
      [role]
      (ex. CTO and Development Lead)
  %li
    = mail_to 'thewalk1@umbc.edu' do
      %strong Theodore Walker
      [role]
      (ex. CTO and Development Lead)
  %li
    = mail_to 'tzuby1@umbc.edu' do
      %strong TJ Zuby
      [role]
      (ex. CTO and Development Lead)
//TODO
