- provide(:title, 'Contact')
%h1 Contact the Developers
/TODO
.row
  .col-lg-4.col-sm-6
    %img.img-circle.img-responsive{src: 'holder.js/140x140'}
    %h3
      = mail_to 'bran3@umbc.edu', 'Brandon Roberts'
      %small Title
    %blockquote
      %p short desc?
  .col-lg-4.col-sm-6
    %img.img-circle.img-responsive{src: 'holder.js/140x140'}
    %h3
      = mail_to 'griffy1@umbc.edu', 'Griffin Yourick'
      %small CTO & Development Lead
    %blockquote
      %p short desc?
  .col-lg-4.col-sm-6
    %img.img-circle.img-responsive{src: 'holder.js/140x140'}
    %h3
      = mail_to 'woehlke1@umbc.edu', 'Nikolaus Woehlke'
      %small Title
    %blockquote
      %p short desc?
  .col-lg-4.col-lg-offset-2.col-sm-6
    %img.img-circle.img-responsive{src: 'holder.js/140x140'}
    %h3
      = mail_to 'thewalk1@umbc.edu', 'Theodore Walker'
      %small Title
    %blockquote
      %p short desc?
  .col-lg-4.col-sm-6
    %img.img-circle.img-responsive{src: 'holder.js/140x140'}
    %h3
      = mail_to 'tzuby1@umbc.edu', 'TJ Zuby'
      %small Title
    %blockquote
      %p short desc?
//TODO
