- provide(:title, 'Sign in')
= form_for(:session, url: sessions_path, html: { class: 'form-signin' }) do |f|
  %h2.form-heading Sign in
  = f.text_field :email, class: 'form-control form-top', placeholder: 'Email'
  = f.password_field :password, class: 'form-control form-bot', placeholder: 'Password'
  = f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block'
  %p.text-center
    %br
    New user?
    = link_to 'Sign up now!', signup_path
