#requirement.modal.fade{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'requirement_label', hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: 'true' } }   &times;
        %h4#requirement_label.modal-title Add a requirement
      = form_for(@project.requirements.build, html: { class: 'form-modal' }) do |f|
        .modal-body
          = render 'shared/error_messages', object: f.object
          = f.hidden_field :project_id
          = f.text_field :name, class: 'form-control', placeholder: 'Requirement name'
        .modal-footer
          %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Close
          = f.submit 'Save requirement', class: 'btn btn-primary'
