= render 'shared/error_messages', object: f.object
= f.text_field :name, class: 'form-control form-top', placeholder: 'Name'
= f.text_field :email, class: 'form-control form-mid', placeholder: 'Email'
= f.password_field :password, class: 'form-control form-mid', placeholder: 'Password'
= f.password_field :password_confirmation, class: 'form-control form-bot', placeholder: 'Confirmation'
