- provide(:title, 'Edit user')
= form_for(@user, html: {class: 'form-user'}) do |f|
  %h2.form-heading Update your settings
  = render 'fields', f: f
  = f.submit 'Save changes', class: 'btn btn-lg btn-primary btn-block'
%p.text-center
  = gravatar_for @user
  = link_to 'change', 'http://gravatar.com/emails', target: '_blank'
