- provide(:title, @project.title)
.row
  %aside.col-lg-4
    %section
      %h1= @project.title
      %p=  @project.desc
      - if current_user.admin?
        %p= link_to 'Project administration', edit_project_path(@project)
  .col-lg-8
    - if @project.requirements.any?
      %h3 Progress
      %ol.requirements
        = render @project.requirements
    .text-center
      .btn-group.btn-group-sm
        - if current_user.admin?
          %button.btn.btn-primary{ data: { toggle: 'modal', target: '#requirement' } } Add a requirement
        %button.btn.btn-primary{ data: { toggle: 'modal', target: '#meeting' } } Log a meeting
        %button.btn.btn-primary{ data: { toggle: 'modal', target: '#bug' } } Report a bug

- if current_user.admin?
  /'Add a requirement' Modal
  = render 'requirements/modal'
