/Fixed navbar
.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'WebSQA', root_path, class: 'navbar-brand'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{class: current_page?(root_path) && 'active'}<
          = link_to 'Home', root_path
        %li<
          = link_to 'Help', '#help'
        %li<
          = link_to 'About', '#about'
        %li<
          = link_to 'Contact', '#contact'
      %ul.nav.navbar-nav.navbar-right
        %li<
          = link_to 'Sign in', signin_path
